* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 3vh 6vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(13, 76, 134, 1) 43%);
  border-bottom: 3px solid white;
  height: 20vh;
}

header img {
  object-fit: contain;
  height: 100%;
  user-select: none;
}

main {
  height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url("images/BACKGROUND.png");
  background-position: center;
  background-size: cover;
  color: white;
}



.heading h1 {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.heading h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.content {
  margin: 4% 0 4% 0;
  width: 55%;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
}




.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 5rem;
  padding: 0.5rem 2.5rem;
  background-color: #054A88;
  border-radius: 2rem;
  color: white;
  text-decoration: none;

  position: fixed;
  bottom: 50px;

  transition: background 0.5s ease;
}

.button:hover {
  background-color: #06345c;
}

.button a {
  color: white;
  text-decoration: none;
}

.button>p>span {

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;

}

.button p {

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;


}

.credits {
  font: 500 15px "Poppins", sans-serif;
  margin-bottom: 10px;

  position: fixed;
  bottom: 0;
}

@media (max-width: 600px) and (max-height: 1000px) {

  header img {
    height: 10vw;
  }

  main {
    justify-content: flex-start;
    width: 100vw;
  }

  .heading h1 {
    font-size: 35px;
  }

  .heading h3 {
    font-size: 20px;
  }

  .content {
    margin: 10% 0 4% 0;
    width: 80%;
    font-size: 14px;
  }

  .button {
    height: 4rem;
    width: 17rem;
  }

  .button>p>span {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;

  }

  .button p {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;



  }
}

@media (min-height: 1200px) {

  main {

    justify-content: flex-start;

  }

}